* {
    margin: 0;
    padding: 0;
  }
  
  .app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  
  .main {
    width: 80%;
    margin-left: auto; 
    background-color: #fff; 
    overflow-x: hidden;
  }
  